{% extends 'base.html' %}
{% block title %}Product edit{% endblock %}

{% block content %}
<form class="width" action="{% url 'product_edit' product.pk %}" method="post">
    {% csrf_token %}
    <h1 class="title">Edit product</h1>
    <div class="mb-3">
        <label for="title" class="form-label"></label>
        <input required type="text" class="form-control" name="title" id="title" value="{{ product.title }}">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label"></label>
        <input required type="text" class="form-control" name="price" id="price" value="{{ product.price }}">
    </div>
    <div class="mb-3">
        <label for="image" class="form-label"></label>
        <input required type="text" class="form-control" name="image" id="image" value="{{ product.image }}">
    </div>
    <div class="mb-3">
        <p><small>Сurrent category: {{ product.category }}</small></p>
        <select class="width" name="category_id">
            {% for category in categories %}
            <option value="{{ category.pk }}">{{ category }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label required for="description" class="form-label"></label>
        <textarea class="form-control" name="description" id="description" rows="3">{{ product.description }}</textarea>
    </div>
    <button type="submit" class="btn btn-success">Edit product</button>
</form>
{% endblock %}